<div class="container" >

	<div class="row justify-content-center">

		<a class=" nav-link my-2 m-auto"> Profile </a>
		<a class=" nav-link my-2 m-auto">Courses</a>
		<a class=" nav-link my-2 m-auto" asp-action="GetCourse">Enroll</a>

	</div>
</div>